.contenedor{
	background-image: url(fondo.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100vw;
	height: 100vh;
}
.nav{
	display: flex;
	justify-content: center;
}

.ppal{
	display: grid;
	grid-template-columns: 170px 170px;
	grid-template-rows: repeat(4, 80px);

	justify-content: center;
	justify-items: center;
	align-items: center;
}

.ppal__cont{

	border-radius: 4px;
	width: 150px;
	height: 40px;

	margin-top: 450px;
	padding-top: 10px;

	text-align: center;
	color: whitesmoke;
	background-color: #333533;
	letter-spacing: 1px;
}

a, a:visited{
	outline: none;
	text-decoration: none;
	color: whitesmoke;
}

.redes{
	margin-top: 250px;
	display: flex;
	flex-wrap: wrap;
	height: 70px;
	justify-content: space-evenly;
	align-items: center;

}

.imgs{
	width: 50px;
	height: 50px;
}
